* {
    margin-block-start:0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
html {
    height: 100%;
}
body {
    background: linear-gradient(to bottom, #ff3333, #FFD580);
    background-repeat: no-repeat;
    padding: 0px;
}
.blocks {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
}
.block {
    display: flex;
    justify-content: center;
}
.form {
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, yellow, #FFD580);
    background-repeat: no-repeat;
    border-width:1px;
    border-color: black;
    border-style:solid;
    gap:10px;
}
.form__label {
    font-family: 'Open Sans';
    font-size:16px;
}
.title {
    display: flex;
    justify-content: center;
}
.title__text {
    font-family: 'Open Sans';
    padding:10px;
    background: linear-gradient(to bottom, yellow, #FFD580);
    background-repeat: no-repeat;
    font-size:20px;
    border-width:1px;
    border-color: black;
    border-style: solid;
}
.text {
    display: flex;
    justify-content: center;
}
.print {
    padding:10px;
    background: linear-gradient(to bottom, yellow, #FFD580);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
    border-width:1px;
    border-color: black;
    border-style: solid;
}